<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title-zh }}</li>
          <li>
            <img src="/assets/icons/envelope.svg" style="height:1.2em;">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>
          {{ site.description }}
          <a href="https://github.com/strangehill/ash">
            <img src="/assets/icons/edit.svg" style="width:1.4em;">
          </a>
        </p>
      </div>
    </div>

  </div>

</footer>
