<header class="site-header">
  <div class="wrapper">

{% assign this-lang-path-to-index = "/" %}
{% assign other-lang-path-to-index = "/" %}
{% assign path_to_translation = "{{ page.permalink }}" %}

{% if page.language %}
  {% if page.language == "en" %}
    {% assign other-lang-path-to-index = "/zh/" %}
    {% capture path_to_translation %}/zh{{page.permalink}}{% endcapture %}
  {% elsif page.language == "zh" %}
    {% assign this-lang-path-to-index = "/zh/" %}
    {% capture path_to_translation %}{{page.english_permalink}} {% endcapture %}
  {% endif %}
{% endif %}

    <span class="letterhead">
      <a class="letterhead-logo" href="{{ site.baseurl }}{{ this-lang-path-to-index }}">
        <img alt="Logo for Asian Humanists" src="/assets/icons/ASH-logo.svg" style="width:3em;">
      </a>
      <a class="letterhead-title" href="{{ site.baseurl }}{{ this-lang-path-to-index }}">
        {% if page.language == "en" %}
        {{ site.title }}
        {% elsif page.language == "zh" %}
        {{ site.title-zh }}
        {% endif %}
      </a>
      <a class="letterhead-i18n" href="{{ site.baseurl }}{{ path_to_translation }}">
      {% if page.language == "zh" %}
          in English
        {% elsif page.language == "en" %}
          中文
      {% endif %}
      </a>
    </span>


    <nav class="site-nav">

        {% for my_page in site.pages %}
          {% if my_page.language == page.language %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
      <figure>
                <img src="{{ my_page.icon }}" style="height: 1.5em;">
                <figcaption>
                  {{ my_page.title }}
                </figcaption>
              </figure>
            </a>
            {% endif %}
          {% endif %}
        {% endfor %}
    </nav>

  </div>

</header>
